@use "@/assets/styles/_colors.scss" as *;

.comment {
  padding: 20px;
  background-color: $color__background--secondary;
  border-radius: 20px;

  &__header {
    display: flex;
    gap: 10px;

    margin-bottom: 10px;
  }

  &__id {
    font-weight: 700;
    color: $color__icons;
  }

  &__name {
    font-size: 14px;
    text-transform: uppercase;
  }

  &__email {
    display: block;
    margin-bottom: 20px;

    font-size: 12px;
    color: $color__accent;
    text-decoration: none;
    text-transform: uppercase;
  }
}
