@use "@/assets/styles/_colors.scss" as *;
@use "@/assets/styles/_mixins.scss" as *;

.header {
  display: flex;
  align-items: center;

  height: 80px;
  padding: 0 20px;

  background: $color__background--secondary;
  border-radius: 20px;

  &__page-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: $color__icons;

    @include onTablet {
      font-size: 18px;
    }
  }
}
