@use "@/assets/styles/_colors.scss" as *;

.post {
  height: 100%;
  padding: 20px;
  background-color: $color__background--secondary;
  border-radius: 20px;

  &__header {
    display: flex;
    gap: 10px;

    margin-bottom: 10px;
  }

  &__id {
    font-weight: 700;
    color: $color__accent;
  }

  &__title {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $color__icons;
  }
}
