@use "@/assets/styles/colors" as *;

body {
  background-color: $color__background;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: $color__primary;
}

.app {
  &__header {
    margin-bottom: 40px;
  }
}
